# .gitignore
###################

# Ignore following files/directories
data/
.vscode
base_pytorch.sif
*.out
plots/*
*.ckpt
csv_runs_test
code/plot_results.py
datasets
# ... except for this one...
!.gitignore

